/* global.css */

/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base font and colors */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Basic layout for header, footer, and main content */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Navigation styles */
.navbar {
    display:  grid;
    justify-content: center;
    border: solid;
}

.navbar ul {
    list-style: none;
    display: grid;
    padding: 8px;
    /* margin: 3px; */
    grid-template-columns: repeat(4, 1fr)
}

/* Main content section */
main {
    padding: 15px;
}